<h5>
  {{title}}:</h5>

<div *ngFor="let opcion of filtros; let i = index" [attr.data-index]="i" class="checkbox" style="margin-left: 8%">
    <label>
    <input id= "{{name}}_{{opcion}}" type="checkbox" value="" (click)="checkSelected(opcion)">
    {{opcion}}
    </label>
</div>

