
.profile-view{
padding-top:1.5%; 
}

.profile-img{
    width:90%;
    height:90%;
}

.profile-list{
    list-style-type: none;
}

.profile-element{
    margin: 5%;
    display: inline
}


.descripcion{
    /*border: 1px;*/
    min-height: 200px;
    background-color: #F2F2F2;
    border-color: black;
    border-radius: 25px;
    border: 1px;
    border-style: solid;
    margin-top: 1%;
    margin-bottom: 1%;
    /*margin: 1%;*/
}

.descripcion-content{
    margin-left: 10px;
}

.save-button{
    padding: 1em;
    color: #fff !important;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold !important;
    border-radius: 4px;
    background-color: #3476d9;
    line-height: 18px;
    margin-bottom: 0;
    vertical-align: middle;
    border: 0px;
    width: 45%;
    /*margin-top: 7%;*/
}

.cancel-button{
    padding: 1em;
    color: #fff !important;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold !important;
    border-radius: 4px;
    background-color: #8b0000;
    line-height: 18px;
    margin-bottom: 0;
    vertical-align: middle;
    border: 0px;
    width: 45%;
    /*margin-top: 7%;*/
}