<!--p>
  profile-view works!
</p-->

<div class="col-md-10 profile-view">
  <span class="col-md-4">
  <img id="user-img" class = "profile-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9E0nirlTy6GwMWXQ7x3BKe1W7QGRe--JVKnS6MltIAxTwTB7AE_0rJvs" >
  </span>
  <span class="col-md-8">

    <div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Usuario: </label>
  <div class="col-10">
    <input class="form-control" type="text" value="TestUser" id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Nombre: </label>
  <div class="col-10">
    <input class="form-control" type="email" value="{{user.user_name}}" id="example-email-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-url-input" class="col-2 col-form-label">Apellidos: </label>
  <div class="col-10">
    <input class="form-control" type="url" value="{{user.user_surname}}" id="example-url-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-tel-input" class="col-2 col-form-label">Empresa asociada </label>
  <div class="col-10">
    <input class="form-control" type="tel" value="NONE" id="example-tel-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-password-input" class="col-2 col-form-label">Móvil de contacto: </label>
  <div class="col-10">
    <input class="form-control"  value="1-(555)-555-5555" id="example-password-input"><!--type="password"-->
  </div>
</div>
<div class="form-group row">
  <label for="example-number-input" class="col-2 col-form-label">E-mail: </label>
  <div class="col-10">
    <input class="form-control" type="email" value="{{user.email}}" id="example-number-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Documento de identidad / idFiscal: </label>
  <div class="col-10">
    <input class="form-control" type="text" value="000000000" id="example-datetime-local-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-search-input" class="col-2 col-form-label">Categorías de interés:</label>
  <div class="col-10">
    <input class="form-control" type="search" value="{{categories}}" id="example-search-input">
  </div>
</div>
  </span>
  <div class="col-md-12">
    <div class="descripcion">
        <h4 class="descripcion-content">Descripción:</h4>
        <p class="descripcion-content">///////Descripción example/////</p>
    </div>
  </div>
  <div class="col-md-12">
    <!--
    <div><span>Tags tipos de datos: </span><span>resp(tags)</span></div>
    -->
  </div>
  <div class="col-md-12 col-no-padding">
    <div class="col-md-offset-3 col-md-3 col-no-padding">
      <button class="save-button">
        <h4>Guardar cambios</h4>
      </button>
    </div>
    <div class="col-md-offset-1 col-md-3 col-no-padding">
      <button class="cancel-button">
        <h4>Cancelar cambios</h4>
      </button>
    </div>
  </div>
</div>