<section class="col-md-10 col-no-padding background-main-display">
  <producto *ngFor="let p of ppService.getProductos();let i = index" [attr.data-index]="i" [p]="p" class="product" (click)="openProduct(p._id)"></producto>
<section>
