<section>
  <h3 class="col-md-12">Filtrar por: </h3>
  <ul> 
    <li *ngFor="let f of aFiltros;let i = index">
      <filtro *ngIf="f.type == 'check'" [attr.data-index]="i" [f]="f"></filtro>
      <filtro-cantidad *ngIf="f.type == 'cantidad'" [attr.data-index]="i" [fc]="f"></filtro-cantidad>
      <!-- <for each>  <indice> <inyectar indice> <inyectar f (filtro)>-->
    </li>   
    <!--<li>
      <filtro *ngFor="let f of aFiltros;let i = index" [attr.data-index]="i" [f]="f" class=""></filtro>
      <!-- <for each>  <indice> <inyectar indice> <inyectar f (filtro)>->
    </li>
    <li>
      <filtro-cantidad *ngFor="let fc of aFiltrosCantidad;let i = index" [attr.data-index]="i" [fc]="fc" class=""></filtro-cantidad>
    </li>-->
    <!--li>
      <h5>Tags:</h5>
      <table>
        <tbody>
          <tr>
            <td width="87%">
              <input class="archivo-input" type="text" value="" id="low-size" name="low-size" maxlength="9" style="width: 100%;">
            </td>
            <td><input style="margin-left: 37px; margin-right: 56px;" type="image" class="go-btn" src="https://images-eu.ssl-images-amazon.com/images/G/30/shopping_engine/nav2/buttons/btn-gno-go-sm._CB341434323_.png"
                align="absbottom" alt="Ir" title="Ir"></td>
          </tr>
        </tbody>
      </table>
    </li-->
  </ul>
</section>