.producto {
    background-color:white;
    height: 120px;
    border-radius: 10px;
}

.product-icon{
    height: 100%;
    background-image: url("https://cdn0.iconfinder.com/data/icons/creative-nerds-wooden-icons/128/p.png");
    /*background-image: url("/src/img/pamba-icon.png");*/
    background-repeat: no-repeat;
}

.gradient {
  height: 33vh;
  background-color: grey;
  background-image:
    radial-gradient(
      ellipse closest-side,
      #fff,
      #ccc
    );
}

.wrap {
  width: 100%;
  position: relative;
  margin: 0 auto 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width:800px) {
  .wrap {
  width: 100%;
  }
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #999;
  overflow: hidden;
  z-index: 10;
}
.image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-e8fjtaU-avoKqFs-FPUFkC9VF9mibSUQVMc-8eqMEISvCa0K');
  margin-left: -42px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  transition: all .5s ease-in-out;
  &:hover {
    transform: rotate(-3deg) scale(1.1);
    -webkit-transform: rotate(-3deg) scale(1.1);
  }
    
}

.image2 {
  background-image: url('http://www.jmozeley.com/wp-content/uploads/2014/02/master-suite-2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  transition: all .5s ease-in-out;
  &:hover {
    transform: rotate(-3deg) scale(1.1);
    -webkit-transform: rotate(-3deg) scale(1.1);
  }
    
}

.price {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  color: #eee;
  padding: 5%;
  background-color: #333;
  background-color: rgba(76, 166, 255, .9);
  font-size: initial;
  z-index: 10;
  span {
    font-size: 0.6em;
  }
}

.padding-lateral-0 {
  padding-left:0%;
  padding-right:0%;
}

.description {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  color: #eee;
  padding: 10px 20px 0px 20px;
  background-color: #333;
  background-color: rgba(0, 0, 0, .7);
  ul {padding: 0;}
  li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
  }  
  p {
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
  }
  .glyphicon {
    font-size: 20px;
    text-align: center;
}
}

