<div class="gradient col-md-4" style="padding-bottom: 1px;">
  <div class="wrap" style="height: 31vh;">
    <div class="card" style="height:inherit;">
      <div class="price">{{price}}<span class="glyphicon glyphicon-eur" aria-hidden="true"></span></div>
      <div class="image"></div>
      <div class="description">
        <div class="row">
          <div class="col-sm-4" style="padding-left:4%; padding-right:4%;">
            <h4>{{title}}</h4>
          </div>
          <div class="col-sm-4" style="padding-left:4%; padding-right:4%;">
            <h5>Proveedor: {{provider}}</h5>
          </div>
          <div class="col-sm-4 padding-lateral-0">
            <rating [(ngModel)]="rating" [titles]="['one', 'two', 'three', 'four', 'five']" style="font-size: x-small;">
            </rating>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>