
ul{
    list-style: none;
    padding-left: 20px;
}

.go-btn {
    border: 0;
    height: 21px;
    margin-bottom: -7px;
    padding: 0;
    width: 7%;
}

.filtro-cantidad {
    padding-left: 5%;
    padding-right: 5%;
}
