<h5 class="row">{{title}}:</h5>

<div class="row" style="padding-right: 8%;">
  <input class="col-md-3 col-no-padding" type="number" value="" id="{{name}}_low" name="low-size" maxlength="9">
  <span class="col-md-1">a</span>
  <input class="col-md-3 col-no-padding" type="number" value="" id="{{name}}_high" name="high-size" maxlength="7">
  <div class="col-md-3 filtro-cantidad" >
    <select id="{{name}}" name="{{title}}" class="select-units">  
            <option value="{{opcion}}" *ngFor="let opcion of units; let i = index;" [attr.data-index]="i" class="col-no-padding">{{opcion}}</option> 
          </select>
  </div>
  <input type="image" (click)="checkSelected()" class="go-btn col-md-2" src="https://images-eu.ssl-images-amazon.com/images/G/30/shopping_engine/nav2/buttons/btn-gno-go-sm._CB341434323_.png"
    align="absbottom" alt="Ir" title="Ir">
</div>