<section class="background-left-bar">
    <h3 class="menu-lateral-title">{{title}}</h3>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" [ngClass]="{'active': currentView=='home'}" (click)="navigate('home')"><a class="no-border">Pamba-market</a></li><!--class="active"-->
        <li role="presentation" [ngClass]="{'active': currentView=='profile'}" (click)="navigate('profile')"><a class="no-border">Perfil</a></li>
        <li role="presentation" [ngClass]="{'active': currentView=='messages'}" (click)="navigate('messages')"><a class="no-border">Mensajes</a></li>
        <li role="presentation" [ngClass]="{'active': currentView=='myProducts'}" (click)="navigate('myProducts')"><a class="no-border">Mis productos</a></li>
    </ul>
    <filtros-busqueda class="col-12"></filtros-busqueda>
     <messages-filter-bar class="col-12"></messages-filter-bar>
<section>
