.background-top-bar {
    padding-top: 10px;
}

.height-top-bar {    
    height: 100%;
}
.pamba-icon{
    background-image: url("https://cdn0.iconfinder.com/data/icons/creative-nerds-wooden-icons/128/p.png");
    /*background-image: url("/src/img/pamba-icon.png");*/
    background-repeat: no-repeat;
}

.pamba-icon-img {
    width: auto;
    height: 38px;
    top: -4px;
    padding-right: 0;
}

.pamba-title {
    align-self: center;
    font-size: 20px;
}

.pamba-buscador{
    align-self: center;
}

.pamba-botones{
    align-self: center;
    font-size: 20px;
}

.no-margin-bot{
    margin-bottom: 0px;
}

.botones-registro{
    margin-top: 0.5%;
}
